<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Openshift Demo</title>
  <style>
        h1 {text-align:center;}
        p {text-align:center;}
</style>
</head>
<body>
     <h1>Openshift Demo</h1>
    <form action="/sendmsg" method="POST">
        <label for="message">Message to Publish:</label><br>
        <textarea name="message" rows=10 cols=50></textarea>
        <input type="submit" value="Send"></input>
    </form>
    <br>
    <br>
    <hr>
    <br>
    <b>Number of Messages Persisted in DB:<%= messages.length %></b>
    <ul>
        <% for(var i=0; i<messages.length; i++) {%>
            <li >
                <span><%= messages[i].id %></span> - <span><%= messages[i].text %></span>
            </li>
        <% } %>
    </ul>
</body>
</html>